@import url("https://fonts.googleapis.com/css?family=Lato:400,800");
body {
    font-weight: 400;
    color: #484e58;
    font-family: Quicksand, sans-serif;
    /* background: #ffffff; */
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(#39CCCC, #39CCCC);
}

.role {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    bottom: 1em;
}

.role:hover {
    cursor: pointer;
}

.nav-bar {
    text-align: center;
    line-height: 1.0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    padding: 0.3em;
    position: relative;
    right: 1em;
}

.nav-item {
    display: inline-block;
    color: #111111;
    cursor: pointer;
}

.nav-item:hover {
    color: #FFFFFF;
}

header h2 {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.0;
    text-align: center;
}

p {
    line-height: 1.5;
}

header {
    text-align: center;
}

hr {
    margin-top: 100px;
    border-width: 0;
    border-top: 3px solid #222;
    width: 30px;
}

section {
    margin: 1px;
}

.social-links a {
    font-size: 25px;
    padding: 0px 8px;
    text-decoration: none;
    color: #111111;
}

.container {
    max-width: 300px;
    margin: 60px auto;
}

.name-letters {
    margin-bottom: 20px;
}

.name-letters span {
    font-size: 100px;
    font-weight: 800;
    mix-blend-mode: darken;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: -6px;
    color: #001f3f;
}

.big-space {
    padding: 2px;
}

.skills {
    text-align: center;
}

.skillsTable {
    display: inline-block;
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.0em;
    font-weight: 500;
}

td:hover {
    color: #001f3f;
    cursor: pointer;
}

.social-footer {
    text-align: center;
}